*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --border-light:2px solid #a9a1a159;
    --border-radius: 13px 13px 13px 13px;
    --container-padding: 5px;
    --primary-font-size: 1.25rem;
    --primary-gap: 10px;
    --seconary-gap: 5px;
    --primary-green:#678B7A;
    --secondary-green:#E3F2EC;
    --main-back-ground-color:#FAF7F7;
    --secondary-back-ground-color:#f0eeef;
    --text-main-color:#2E2333;
    --warning-color:#C7410C;

}
.mainMealCardContainer{
  width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(148 148 155 / 35%);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 3px 9px 2px #00000040;
    overflow: hidden;
    min-height: 250px;
}

/* image and button section */
.mealImgAndButtonSection{
    /* border: 2px solid fuchsia; */
    /* width: 40%; */
      overflow: hidden;

}
.mealImage{
width: 100%;
height: auto;
}
.mealButtoncontainer{
      overflow: hidden;
      /* border: 2px solid red; */

}


/* meal data section */
.mealDataSection{
    padding:10px;
    width: 100%;
    /* border: 2px solid rgb(128, 0, 21); */
}
.mealName{
    font-size: clamp(20px, 4vw , 28px);
    font-weight: 600;
}
.mealDescription{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.mealTagContainer{
    /* display: flex; */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    /* line-height: 20px; */
    /* padding: 10px; */
    /* border: 2px solid red; */
    

}
.mealTagContainer p{
    /* border: 2px solid red; */
    padding: 5px 10px 5px 10px;
    background-color: var(--secondary-green);
    border-radius: var(--border-radius);

}
.mealTagContainer p:nth-child(even) {
    background-color: var(--secondary-back-ground-color);
}

@media (max-width: 1000px) {
  .mainMealCardContainer {
    display: flex;
    flex-direction: column;
  }
}