*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --border-light:2px solid #a9a1a159;
    --border-radius: 13px 13px 13px 13px;
    --container-padding: 5px;
    --primary-font-size: 1.25rem;
    --primary-gap: 10px;
    --seconary-gap: 5px;
    --primary-green:#678B7A;
    --secondary-green:#E3F2EC;
    --main-back-ground-color:#FAF7F7;
    --secondary-back-ground-color:#f0eeef;
    --text-main-color:#2E2333;
    --warning-color:#C7410C;

}


/* ================= main wrapper ================ */
.mainWrapper{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

/* =====================main container =====================*/
.mealPlanMainContainer{
    
    padding: 10px;
border: 2px solid tomato;
}

/*==================== main page title container ===============*/
.mealPlanMainContainerTitle{
    /* border: 1px solid fuchsia; */
}

/* ==================Day selection section ======================*/
.daySelectSection ul{
    border: 3px solid slateblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    /* margin: auto 0; */
}


.daySelectSection ul li, .day{
    text-decoration: none;
    list-style: none;
}

.daySelectContainer{
    width: 100%;
}

.dayList{
    border: 2px solid red;
    background-color: yellow;
}
.day{
    display: block;
    width: 150px;
    padding: 10px;
    background-color: aqua;
}
