*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --border-light:2px solid #a9a1a159;
    --border-radius: 13px 13px 13px 13px;
    --container-padding: 5px;
    --primary-font-size: 1.25rem;
    --primary-gap: 10px;
    --seconary-gap: 5px;
    --primary-green:#678B7A;
    --secondary-green:#E3F2EC;
    --main-back-ground-color:#FAF7F7;
    --secondary-back-ground-color:#f0eeef;
    --text-main-color:#2E2333;
    --warning-color:#C7410C;

}


/* ================= main wrapper ================ */
.mainWrapper{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 10px; */
}

/* =====================main container =====================*/
.mealPlanMainContainer{
    width: 100%;
    padding: 10px;
/* border: 2px solid tomato; */
}

/*==================== main page title container ===============*/
.mealPlanMainContainerTitle{
    border: 1px solid fuchsia;
    padding-bottom: 10px;
}

/* ==================Day selection section ======================*/
.daySelectSection{
    border: 5px solid mediumspringgreen;
}
.daySelectSection ul{
    border: 3px solid slateblue;
   display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: center;
     width: 100%; 
     gap: var(--primary-gap);
}


.daySelectSection ul li{
    text-decoration: none;
    list-style: none;
    /* margin: 0 auto; */
    border: 2px solid red;
    width: fit-content;
}



/*============ progressbar section================= */
.progressBarSection{
    padding: 10px 0 10px 0;
    border: 2px solid red;
    width: 50%;
}

/* day title section */
.dayTitleSection{
    padding: 10px 0 10px 0;
    border: 2px solid lawngreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--primary-gap);
    width: 60%;
    margin: 0 auto;

}
.dayTitle{
    border: 2px solid red;
    width: 38%;
}
.dayText{
    border: 2px solid black;
}