*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainMealCardContainer{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(7, 21, 224);
}

/* image and button section */
.mealImgAndButtonSection{
    border: 2px solid fuchsia;
    /* width: 40%; */
      overflow: hidden;

}
.mealImage{
width: 200px;
/* height: 50%; */
}
.mealButtoncontainer{
      overflow: hidden;
      border: 2px solid red;

}


/* meal data section */
.mealDataSection{
    border: 2px solid rgb(128, 0, 21);
}
.mealTagContainer{
    /* display: flex; */
    flex-wrap: wrap;
    gap: 10px;
    /* padding: 10px; */
    border: 2px solid red;
    display: flex;

}